
.tasks-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    grid-template-rows: repeat(auto-fit, 230);
    flex-wrap: wrap;
    gap: 60px;
    justify-content:center;
}

.task-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.task-head, .task-foot{
    display: flex;
    justify-content: space-between;
}

.task-title{
    font-size: 2rem;

}

.task-chips{
    display: flex;
    gap: 10px;
}

@media screen and (width<1200px) {
    .filters {
        flex-wrap: wrap;
    }

    .task-head{
        flex-wrap: wrap;
    }

    .task-chips {
        flex-wrap: wrap;
    }

    .task-foot{
        flex-wrap: wrap;
        gap: 10px;
    }
}


